<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header" />

<body>
<div th:replace="common/navbar :: common-navbar"></div>
	<div class="container">

		<div class="starter-template">
			<h1>Shiv Shakti Rolling Shutters</h1>
			<p class="lead">
				We make shutters to solve your doors problem.<br /> proprietor Mr
				Ashwani Dhawan.
			</p>
		</div>

	</div>
	<!-- /.container -->

	<div th:replace="common/header :: before-body"></div>
</body>
</html>
